/*Full Body part*/
body {
   overflow-x: hidden; 
}


/*Background Video*/
#background-video {
    position: absolute;
    left: 0px;
    top: 60px;
    width: 100%;
    right: 0px;
}


/*Full Header Part*/
header {
    position: fixed;
    background-color: #337d92;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
}


/*Logo JH in the left upperside*/
#name-logo {
    position: absolute;
    width: 70px;
    left: 10px;
    top: 7px;
}


/*This is the navigation menu*/
#navigation-menu {
    position: relative;
    top: 25px;
    left: 100px;
}


/*Navigation buttons*/
.navigation-button {
    color: black;
    font-size: 25px;
    text-decoration-line: none;
}